<%= flash[:notice] %>



<div class="container">
  <div class="row">
   <div class="col-md-3">
    <%= render 'book', book: @book_new, user: @user %>
   </div>
    <div class="col-md-8 offset-md-1">
     <table class="table table-striped">

      <thead>
       <h2>
         Book detail
       </h2>
      </thead>

        <tr>
          <td>
           <%= link_to user_path(@book.user.id) do %>
           <%= image_tag @user.get_profile_image(100,100) %>
           <% end %>
           <br><%= link_to @user.name, user_path(@user) %>
          </td>
          <td><%= link_to @book.title, book_path(@book) %></td>
          <td><%= @book.body %></td>
          <% if @book.user == current_user %>
          <td><%= link_to "Edit", edit_book_path(@book.id),  class: "btn btn-secondary", style: "background-color: green; color: white;"  %></td>
          <td><%= link_to "Destroy", book_path(@book.id), method: :delete, "data-confirm" => "本当に削除しますか？",  class: "btn btn-secondary", style: "background-color: red; color: white;" %></td>
          <% end %>
        </tr>

      </table>
     </div>
   </div>
 </div>
